@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .lableE {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .lableP {
        margin-right: 10px;
    }

    .lableFP{
        margin-right: 30px;
        color: red;
    }

    .lableFPG{
        margin-top: 50px;
    }

    .Login{
        margin-top: 150px;

    }
    .lableL{
        color:grey;
        font-size: 50px;
        margin-bottom: 50px;
    }
    .lableLG{
        margin-bottom: 50px;
    }
  }